<div class="map">
  <img
    src="https://api.mapbox.com/styles/v1/sranav/ckdo8t10p2z521in4pgogpjch.html?fresh=true&title=view&access_token=pk.eyJ1Ijoic3JhbmF2IiwiYSI6ImNrZG82YXc3NzBoeG0ycHR2dDA0MnJhNTQifQ.VPha3DvbfcvknuwoC_IBhg"
  />
</div>